// partials/structure/footer

.footer
  width: $width-full
  min-height: 140px
  margin-top: $margin-default-double
  background-color: $color-bg-main

  .footer__inner
    @extend %container
    color: $color-text-lightest
