// partials/components/header

%header-menu-items
  display: flex
  width: 100%

  li
    @include font-size(10px)
    display: inline-block
    margin-right: 10px

    &:last-child
      margin-right: 0

  a
    text-decoration: none
    color: #2C66CE


.header
  padding-top: 15px
  padding-bottom: 15px
  border-top: 1px solid #95989A
  border-bottom: 1px solid #95989A
  background: #EDEEF1

  .block-system-branding-block
    display: flex
    justify-content: center
    padding-top: 15px
    padding-bottom: 15px

    a
      display: block

    img
      display: block
      width: 100%
      max-width: 215px


.header__inner
  @extend %container


.header__topbar
  display: flex
  justify-content: space-between


.a11y-menu
  @extend %header-menu-items
  text-transform: uppercase

.i18n-menu
  @extend %header-menu-items
  text-transform: uppercase

.menu-institutional
  @extend %header-menu-items
  justify-content: flex-end
