// partials/structure/header

%header-menu-items
  display: flex
  width: auto

  li
    @include font-size(10px)
    margin-right: $margin-default

    @include breakpoint($md-min)
      @include font-size(12px)

    &:last-child
      margin-right: 0

  a
    text-decoration: none
    color: $color-text-main


.header
  padding-top: $margin-default
  background-color: $color-athens-gray

.header__inner
  @extend %container

.header__topbar
  display: flex
  justify-content: space-between
  align-items: center

.a11y-menu
  @extend %header-menu-items
  text-transform: uppercase

  a
    @include font-size(10px)

  @include breakpoint($md-min)
    justify-content: flex-end

.i18n-menu
  @extend %header-menu-items
  text-transform: uppercase

.shortcuts-menu
  @extend %header-menu-items
  display: none

  a
    @include font-size(10px)

  span
    padding: 1px 3px
    color: $color-text-lightest
    background-color: $color-bg-main

    body.high-contrast &
      color: $color-text-high-contrast-dark
      background: $color-bg-high-contrast-light

  @include breakpoint($md-min)
    display: flex

.menu-institutional-wrapper
  @extend %header-menu-items
  padding-top: $margin-default
  padding-bottom: $margin-default

  @include breakpoint($md-min)
    border-top: 1px solid $color-border-midlight
    border-bottom: 1px solid $color-border-midlight
    background-color: $color-bg-midlight

  body.high-contrast &
    color: $color-text-high-contrast-light
    background-color: $color-bg-high-contrast-dark
    border-top-color: $color-border-high-contrast-light
    border-bottom-color: $color-border-high-contrast-light

.menu-institutional
  @extend %container
  display: flex
  justify-content: flex-end

  li
    padding-right: $margin-default-half
    margin-right: $margin-default-half
    line-height: 1
    border-right: 1px solid $color-border-main

    &:last-child
      border-right: none
      padding-right: 0
