// partials/base

*,
*:before,
*:after
  box-sizing: border-box

body
  width: 100%
  padding: 0
  margin: 0
  color: $color-text
  font-family: $font-base
  font-size: $font-size-base
  line-height: $font-line-base

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $font-title

p
  font-family: $font-text

a
  font-family: $font-link

button
  padding: 0
  margin: 0
  border: none
  box-shadow: none
  background: none

ul,
li
  padding: 0
  margin: 0
  list-style: none
