// library/components/card-news

// Page title
%section-title
  padding: $margin-default
  margin-bottom: $margin-default-double
  font-size: $font-size-h2
  font-weight: 300
  text-align: center
  text-transform: uppercase
  color: $color-text-lightest
  background-color: $color-bg-main

%section-subtitle
  padding: $margin-default
  margin-bottom: $margin-default
  font-size: $font-size-h4
  font-weight: 300
  text-transform: uppercase
  color: $color-text-lightest
  background-color: $color-bg-secondary



///////////////////////////////////////////////
///////////////// CARD NEWS ///////////////////
///////////////////////////////////////////////

%card-news
  position: relative
  padding-top: $margin-default-double
  padding-bottom: $margin-default-double
  margin-bottom: $margin-default
  background-color: $color-bg-lightest
  border: 1px solid $color-border-midlight

  > *:not(.field--name-field-image)
    padding-left: $margin-default-double
    padding-right: $margin-default-double

  body.high-contrast &
    color: $color-text-high-contrast-light
    background-color: $color-bg-high-contrast-dark

%card-news-image-featured
  display: block
  width: 100%
  max-width: 100%
  margin-top: $margin-default
  margin-bottom: $margin-default-double

%card-news-title
  font-size: $font-size-h2
  font-weight: 300
  color: $color-text-main
  text-decoration: none
  line-height: 1.2

%card-news-metadata
  display: block
  font-size: 12px
  margin-bottom: $margin-default-half
