// library/components/slideshow

$slideshow-image-height: 380px

%slideshow
  z-index: $zindex-default
  position: relative
  margin-bottom: $margin-default-double
  background-color: $color-bg-lightest

  body.high-contrast &
    background-color: $color-bg-high-contrast-dark
    box-shadow: $box-shadow-high-contrast

%slideshow-arrow
  display: block
  position: absolute
  z-index: $zindex-high
  top: $slideshow-image-height / 2
  padding: $margin-default
  margin: 0
  color: $color-text-lightest
  font-size: 0
  background: none
  border: none
  box-shadow: none
  transform: translateY(-50%)

  &:hover,
  &:active
    outline: none

%slideshow-arrow-prev
  left: 0

  &::after
    content: $fa-var-chevron-left
    display: block
    font-family: $font-icon
    font-size: $font-size-icon

%slideshow-arrow-next
  right: 0

  &::after
    content: $fa-var-chevron-right
    display: block
    font-family: $font-icon
    font-size: $font-size-icon

%slideshow-dots
  display: flex
  position: absolute
  z-index: $zindex-above
  top: ($slideshow-image-height - 15px)
  left: 50%
  transform: translateX(-50%)

  button
    @include simple-transition(background-color)
    font-size: 0
    display: block
    width: 10px
    height: 10px
    margin-left: 5px
    margin-right: 5px
    border-radius: 100%
    background-color: $color-bg-main

    body.high-contrast &
      background-color: $color-bg-high-contrast-dark

  .slick-active button
    background-color: $color-bg-lightest

    body.high-contrast &
      background-color: $color-bg-high-contrast-light

%slideshow-slide
  position: relative
  display: flex
  align-items: center
  justify-content: center
  width: $width-full
  min-height: $slideshow-image-height
  overflow: hidden

%slideshow-image
  display: block
  min-width: $width-full
  max-width: $width-full
  max-height: $slideshow-image-height
  object-fit: cover

%slideshow-title
  color: $color-text-main
  font-size: $font-size-h3
  font-weight: 700
  line-height: 1.4
  text-decoration: none

  @include breakpoint($md-min)
    font-size: $font-size-h2
