// partials/components/pages/node-news

// list of news.
.card-content
  margin-top: $margin-default
  margin-bottom: $margin-default

  .views-row
    @extend %card-news

  .views-field-title a
    @extend %card-news-title

  .views-field-field-date
    @extend %card-news-metadata

  .more-link a
    @extend %button-primary


%card-news-aligned-image
  margin-top: 0
  margin-bottom: $margin-default

  @include breakpoint($breakpoint-max-sm)
    float: none

  @include breakpoint($md-min)
    width: 50%

  img
    display: block
    width: 100%

// news full mode version.
.node--view-mode-full
  .node__content
    @extend %card-news

    > h2 a
      @extend %card-news-title

    > .field--name-field-image img
      @extend %card-news-image-featured

    .field--name-field-date
      @extend %card-news-metadata

    .align-left
      @extend %card-news-aligned-image
      @include breakpoint($md-min)
        margin-right: $margin-default

    .align-right
      @extend %card-news-aligned-image
      @include breakpoint($md-min)
        margin-left: $margin-default

    .align-center
      @extend %card-news-aligned-image

.view-teaser-news
  .views-field-field-date
    text-align: right
