// partials/components/mobile-toolbar

$toolbar-height: 44px
$menu-item-length: 3
$menu-item-width: $width-full / $menu-item-length

.mobile-toolbar
  @include breakpoint($md-min)
    display: none

.mobile-toolbar-menu
  display: flex
  position: fixed
  z-index: $zindex-reallyHigh
  bottom: 0
  left: 0
  width: $width-full
  padding: 0
  margin: 0

  li
    display: block
    width: $menu-item-width
    list-style: none

  a
    display: flex
    align-items: center
    justify-content: center
    height: $toolbar-height
    color: $color-link
    font-size: $font-size-icon
    text-decoration: none
    background-color: $color-bg-light

    &::after
      font-family: $font-icon

    span
      display: none

  .mobile-toolbar__hamburger
    &::after
      content: $fa-var-bars

  .mobile-toolbar__home
    &::after
      content: $fa-var-home

  .mobile-toolbar__search
    &::after
      content: $fa-var-search


// Mobile Toolbar Layers
.mobile-toolbar-layer
  position: fixed
  z-index: $zindex-high
  top: -100%
  left: 0
  width: $width-full
  height: $height-full
  padding-bottom: $toolbar-height
  overflow: scroll
  visibility: hidden
  opacity: 0
  transition: opacity 400ms

  &.is-visible
    top: 0
    visibility: visible
    opacity: 1

  body.user-logged-in.toolbar-vertical &
    padding-top: 39px

// LAYER: Search form
.mobile-toolbar-layer--search
  color: $color-text-lightest
  background-color: rgba(0, 0, 0, 0.8)

  .search-block-form
    @extend %search-block
    padding: $margin-default-double
    background-color: $color-bg-main

// LAYER: Hamburger menu
.mobile-toolbar-layer--menu
  @extend %main-navigation

  .menu--main > h2
    @extend %main-navigation-title

  .menu
    @extend %main-navigation-menu

    a
      @extend %main-navigation-link
