// partials/components/mobile-toolbar

$toolbar-height: 44px
$menu-item-length: 3
$menu-item-width: $width-full / $menu-item-length

.mobile-toolbar-menu
  display: flex
  position: fixed
  z-index: $zindex-reallyHigh
  bottom: 0
  left: 0
  width: $width-full
  padding: 0
  margin: 0

  li
    display: block
    width: $menu-item-width
    list-style: none

  a
    display: flex
    align-items: center
    justify-content: center
    height: $toolbar-height
    color: $color-link
    font-size: $font-size-icon
    text-decoration: none
    background-color: $color-bg-light

    &::after
      font-family: $font-icon

    span
      display: none

  .mobile-toolbar__hamburger
    &::after
      content: $fa-var-bars

  .mobile-toolbar__home
    &::after
      content: $fa-var-home

  .mobile-toolbar__search
    &::after
      content: $fa-var-search


// Mobile Toolbar Layers
.mobile-toolbar-layer
  position: fixed
  z-index: $zindex-high
  top: -100%
  left: 0
  width: $width-full
  height: $height-full
  padding-bottom: $toolbar-height
  overflow: scroll
  visibility: hidden
  opacity: 0
  transition: opacity 400ms

  &.is-visible
    top: 0
    visibility: visible
    opacity: 1


// LAYER: Search form
.mobile-toolbar-layer--search
  color: $color-text-lightest
  background-color: rgba(0, 0, 0, 0.8)

.mobile-search-form
  position: relative
  padding: $margin-default-double
  background-color: $color-bg-main

  label
    display: none

  input
    position: relative
    z-index: $zindex-default
    width: $width-full
    height: 40px
    padding-left: $margin-default
    padding-right: 30px
    background-color: $color-bg-lightest
    border: none

    &:active,
    &:focus,
    &:hover,
      outline: none

  button[type="submit"]
    display: block
    position: absolute
    z-index: $zindex-above
    top: $margin-default-double
    right: $margin-default
    height: 40px
    width: 40px
    padding: 0 $margin-default
    background-color: $color-bg-main

    &:active,
    &:focus,
    &:hover,
      outline: none

    &::after
      display: block
      content: $fa-var-search
      font-family: $font-icon
      font-size: $font-size-icon
      color: $color-text-lightest

    span
      display: none


// LAYER: Hamburger menu
.mobile-toolbar-layer--menu
  text-transform: uppercase
  background-color: $color-bg-light

.mobile-hamburger-title
  @include font-size(12px)
  padding: $margin-default
  margin: 0
  color: $color-link
  font-weight: 400
  border-top: 4px solid $color-border-main
  border-bottom: 1px solid darken($color-bg-light, 20%)
  background-color: darken($color-bg-light, 1%)

.mobile-hamburger-menu
  a
    display: block
    padding: $margin-default
    color: $color-text-darkest
    text-decoration: none
    border-bottom: 1px solid darken($color-bg-light, 20%)
