// library/settings/colors


// Descriptive colors from guideline.
$color-black: #000000
$color-white: #ffffff
$color-alabaster: #F7F7F7
$color-alto: #DDDDDD
$color-athens-gray: #EDEEF1
$color-cornflower-blue: #2C66CE

// Functional color variables.
$color-link: $color-cornflower-blue

$color-text-lightest: $color-white
$color-text-light: $color-alabaster
$color-text-midlight: $color-alto
$color-text-darkest: $color-black
$color-text-main: $color-cornflower-blue

$color-bg-lightest: $color-white
$color-bg-light: $color-alabaster
$color-bg-midlight: $color-alto
$color-bg-darkest: $color-black
$color-bg-main: $color-cornflower-blue

$color-border-lightest: $color-white
$color-border-light: $color-alabaster
$color-border-midlight: $color-alto
$color-border-darkest: $color-black
$color-border-main: $color-cornflower-blue
